@font-face {
  font-family: "digital";
  src: url("digital.ttf");
}

body {
  background-color: #c7cacC;
  color: #333;
  margin: 20px;
}

h1 {
  text-align: center;
  color: #2d2f77;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

.container {
  background-color: #FFF;
  padding: 10px 40px 40px 40px;
  width: calc(100% - 80px);
  margin: 15px auto;
  min-width: 160px;
  box-shadow: 3px 3px 4px #555;
}

#col-2 {
  grid-column: 2/3;
  margin: 0px 40px;
}


/* Clock */

#clock {
  display: inline-block;
  margin: 10px 20px;
  width: 440px;
  height: 190px;
  border-radius: 10px;
  background-color: #000;
  box-shadow: 5px 5px 5px;
  vertical-align: top;
}

#inner-clock {
  border: 1px solid black;
  width: 410px;
  height: 150px;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 10px;
  background-color: #DDD;
}

#screen {
  font-family: "digital", Helvetica, sans-serif;
  font-size: 115px;
  padding-top: 15px;
  padding-left: 15px;
  margin-top: 15px;
  margin-left: 20px;
  border: 1px solid black;
  width: 355px;
  height: 105px;
  border-radius: 4px;
  background-color: #C3D3B2;
}

#time {
  display: inline;
}

/*Calendar*/

#calendar {
  display: inline-block;
  background-color: #d8d8d8;
  vertical-align: top;
  margin: 10px 20px;
  border: 1px solid black;
  height: 187px;
  width: 188px;
  box-shadow: 5px 5px 5px;
}

#calendar-top {
  height: 42px;
  padding-top: 18px;
  background-color:#C53833;
  border-bottom: 1px solid black;
  text-align: center;
}

#day-of-week {
  display: inline;
  color: white;
  font-size: 24px;
  text-align: center;
  font-family: sans-serif;
}

#calendar-bottom {
  padding: 5px;
  text-align: center;
}

#month {
  color: black;
  font-size: 20px;
  margin-bottom: -10px;
}

#day {
  color: black;
  font-size: 80px;
  font-family:  sans-serif;
}

#year {
  color: black;
  font-size: 20px;
  margin-top: -10px;
}

#col-1{
  grid-row: 1;
  grid-column: 1/2;
  margin: 0px 40px;
}

/* Calculator */

#calculator {
  display: inline-block;
  width: 280px;
  height: 400px;
  background-color: #BBB;
  border-radius: 25px;
  box-shadow: 3px 3px 5px #555, inset -5px -3px 3px #999, inset 3px 1.5px 3px #999;
}

#calculator h4 {
  text-align: center;
  font-style: italic;
  font-family: sans-serif;
}
#calculator-display {
  margin: 0px auto 20px auto;
  width: 220px;
  height: 36px;
  padding: 5px 8px;
  background-color: #75758A;
  border-radius: 10px;
  border: 3px solid #DDD;
}

#buttons {
  margin: 0px auto;
  text-align:center;
}

#calculator button {
  display: inline-block;
  color:white;
  font-size: 20px;
  font-weight: bold;
  margin: 6px 5px;
  width: 50px;
  height: 35px;
  background-color: #333338;
  border-radius: 6px;
  border: 2px outset #666;
}

#calculator button:focus {
  outline: 0;
}

#calculator button:active {
  border: 2px inset #666;
}

#addition {
  min-height: 80px;
  float: right;
  position: relative;
  right: 14px;
}


/* Time */

#to-do-container {
  min-height: 350px;
}

/* Media Queries */

@media only screen and (max-width: 1080px) {
  #grid {
      display: block;
  }
}

@media only screen and (max-width: 650px) {
  body {
      margin: 10px;
  }
  #clock {
      -ms-transform: translate(-58px, 0px) scale(0.7);
      -webkit-transform: translate(-62px, 0px) scale(0.7);
      transform: translate(-64px, 0px) scale(0.7);
  }
}
@media only screen and (max-width: 520px) {
  body {
      margin: 5px;
  }
  #clock {
      -ms-transform: translate(-58px, 0px) scale(0.6);
      -webkit-transform: translate(-62px, 0px) scale(0.6);
      transform: translate(-110px, 0px) scale(0.5);
  }
  #calculator {
      -ms-transform: translate(-58px, 0px) scale(0.6);
      -webkit-transform: translate(-62px, 0px) scale(0.6);
      transform: translate(-12px, 0px) scale(0.8);
  }
}
@media only screen and (max-width: 420px) {
  body {
    margin: 0px;  
  }
  #clock {
      -ms-transform: translate(-58px, 0px) scale(0.6);
      -webkit-transform: translate(-62px, 0px) scale(0.6);
      transform: translate(-155px, -60px) scale(0.35);
  }
  #calendar {
      transform: translate(-32px, -120px) scale(0.8);
      margin-bottom: -140px;
  }

  #calculator {
      -ms-transform: translate(-58px, 0px) scale(0.6);
      -webkit-transform: translate(-62px, 0px) scale(0.6);
      transform: translate(-60px, -90px) scale(0.55);
      margin-bottom: -50px
  }

  #calculator-container {
      max-height: 280px;
  }
}